{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title> {% block title %} {% endblock %} Image </title>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
      integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
      @media screen and (max-width: 260px) {
        #navv {
          margin-left: -23px !important;
        }
      }
      @media screen and (max-width: 721px) {
        #navvvvvv {
          height: 65px !important;
        }
      }
    </style>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-dark"
      id="navvvvvv"
      style="
        position: fixed;
        background-color: beige;
        height: 75px;
        margin-top: -5px;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1098;
      "
    >
      <div
        class="container"
        style="
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: nowrap;
          -ms-flex-align: center;
          align-items: center;
          -ms-flex-pack: justify;
          justify-content: space-between;
          flex-direction: row;
          align-content: center;
        "
      >
        <a class="navbar-brand" style="color: black" href="{% url 'index' %}"
          >Image</a
        >

        <form
          class="form-inline"
          style="width: 100%; margin: auto"
          
        >
          <div class="input-group">
            <input
              name="q"
              type="text"
              value="{{ request.GET.q }}"
              style="border-radius: 15px; width: 100%; margin: auto"
              class="form-control"
              placeholder="  search . . ."
            />
          </div>
        </form>

        <a
          href="{% url 'show-notifications' %}"
          class="nav-link"
          style="color: black"
        >
          <img
            style="padding-left: 25px"
            class=""
            src="../../../../static/img/notifications.png"
          />
          {% if count_notifications %}
          <span
            class="badge"
            style="margin-top: -21px; margin-left: -35px; color: black"
            >{{ count_notifications }}</span
          >
          {% endif %}
          <small>Notifications</small>
        </a>
        {% if directs_count %}
        <span
          class="badge"
          style="margin-top: -23px; margin-right: -43px; color: black"
          >{{ directs_count }}</span
        >
        {% endif %}
        <a href="{% url 'inbox' %}" class="nav-link" style="color: black">
          <img
            style="padding-left: 5px"
            class=""
            src="../../../../../static/img/inbox.png"
          />
          <small>Inbox</small>
        </a>

      {% if user.is_authenticated %}
      <a href="{% url 'profile' request.user %}" class="nav-link " style="color:black;">
        {% if request.user.profile.picture %}
        
        <img style="height:32px; width:32px; border-radius:50px; margin-left:5px;" class="" src="{{ request.user.profile.picture.url }}">
        <small>{{ request.user.profile.first_name }}</small> 
        {% else %}
        <img style="height:32px; width:32px; border-radius:50px;  " class="" src="https://bulma.io/images/placeholders/256x256.png">
        <small>{{ request.user.username }}</small>
        {% endif %}</a>
        {% else %}
        <a href="{% url 'login' %}" class="nav-link " style="color:black;">
        <img style="height:32px; width:32px; border-radius:50px;  " class="" src="https://bulma.io/images/placeholders/256x256.png">
        <small>login</small>
        </a>
        {% endif %} 
      </div>
    </nav>

    {% block banner %} {% endblock %}








    <div
      class="container-fluid"
      style="padding-top: 75px; padding-bottom: 85px"
    >
      <style>
      
        /* Responsive layout - makes a two column-layout instead of four columns */
        @media screen and (max-width: 800px) {
          #card {
            width: 49%;
          }
          #img {
            width: 100%;
            height: auto !important;
          }
          #video {
            width: 100%;
          }
        }

        /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 600px) {
          #card {
            width: 100%;
          }
          #img {
            width: 100%;
            height: auto !important;
          }
          #video {
            width: 100%;
            height: auto !important;
          }
        }
      </style>






    <div class="">

        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#home">
                    Post</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#profile">
                   Profile</a>
            </li>

        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="home">
                <div class="row ">
                   
      <div
        class="column"
        style="
          display: inline-flex;
          padding-top: 20px;
          flex-direction: row;
          flex-wrap: wrap;
          align-content: center;
          align-items: center;
          justify-content: space-evenly;
          width: 100%;
        "
      >
        {% for post in posts %}
        <div
          class=""
          style="
            display: inline-flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            align-items: center;
            justify-content: space-evenly;
          "
        >
          <article
            class=""
            style="
              display: inline-flex;
              flex-direction: column;
              flex-wrap: wrap;
              align-content: center;
              align-items: center;
              justify-content: space-evenly;
            "
          >
            <div class="">
              {% if post.content.first.file.name|slice:"-4:" == 'jpeg' or post.content.first.file.name|slice:"-3:" == 'png' or post.content.first.file.name|slice:"-3:" == 'jpg' %}
              <div class="" id="card" style="">
                <figure class="" style="">
                  <a href="{{ post.get_absolute_url }}">
                    <img
                      id="img"
                      style="border-radius: 20px; height: 260px"
                      class=""
                      src="{{ post.content.first.file.url }}"
                      alt="Placeholder image"
                    />
                  </a>
                </figure>
              </div>

              {% else %}
              <div
                class=""
                id="card"
                style="margin-bottom: 15px !important; border-radius: 20px"
              >
                <div style="margin-left: -5px; margin-right: -5px">
                  <a href="{{ post.get_absolute_url }}">
                    <video
                      id="video"
                      width=""
                      controls
                      autoplay
                      muted
                      loop="true"
                      preload="metadata"
                      style="
                        border-radius: 20px;
                        margin-top: -5px !important;
                        height: 260px;
                      "
                    >
                      <source
                        style="border-radius: 20px"
                        src="{{ post.content.first.file.url }}#t=0.5"
                        type="video/mp4"
                      />
                    </video>
                  </a>
                </div>
              </div>

              {% endif %}
            </div>
          </article>
        </div>
        {% endfor %}
      </div>
                </div>
            </div>
            <div class="tab-pane" id="profile">
                <div class="row">
                    
      <div
        class="column"
        style="
          display: inline-flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-content: center;
          align-items: center;
          justify-content: space-evenly;
          width: 100%;
        "
      >
        {% for user in users1 %}
        <div
          class=""
          style="
            display: inline-flex;
            padding-top: 10px;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            align-items: center;
            justify-content: space-evenly;
          "
        >
          <article
            class="card"
            style="
              display: inline-flex;
              border-color: white;
              flex-direction: column;
              flex-wrap: wrap;
              align-content: center;
              align-items: center;
              justify-content: space-evenly;
            "
          >
            {% if user.background %}
            <a href="{% url 'profile' user %}"
              ><img
                style="width: 150px; height: 110px"
                src="{{ user.background.url }}"
                alt="Placeholder image"
            /></a>
            {% else %}
            <a href="{% url 'profile' user %}"
              ><img
                style="height: 110px; width: 150px"
                src="https://bulma.io/images/placeholders/96x96.png"
                alt="Placeholder image"
            /></a>
            {% endif %}
            <div class="">
              <figure class="" style="margin-top: -60px">
                {% if user.picture %}
                <a href="{% url 'profile' user %}"
                  ><img
                    class="card"
                    style="width: 90px; height: 90px; border-radius: 60px"
                    src="{{ user.picture.url }}"
                    alt="Placeholder image"
                /></a>
                {% else %}
                <a href="{% url 'profile' user %}"
                  ><img
                    class="card"
                    style="width: 90px; height: 90px; border-radius: 60px"
                    src="https://bulma.io/images/placeholders/96x96.png"
                    alt="Placeholder image"
                /></a>
                {% endif %}
              </figure>
            </div>
            <div class="" style="">
              <div class="">
                <p
                  style="
                    align-content: center;
                    justify-content: center;
                    display: flex;
                  "
                >
                  <a
                    class=""
                    style="text-decoration: none; color: black;"
                    href="{% url 'profile' user %}"
                  >
                    <strong
                      >{{ user.first_name }} {{ user.last_name}}</strong
                    ><br /><small>@{{ user }}</small></a
                  ><br />
                  
                </p>
                <p 
                  style="
                    align-content: center;
                    justify-content: center;
                    display: flex;
                    width:130px;
                  "                
                >{{ user.location }}<br>{{ user.profile_info }}</p>

                <a style="background-color:black; border-radius:20px; width:100%;"
                  href="{% url 'newconversation' user %}"
                  class="btn btn-outline-info"
                  >message</a
                >
              </div>
            </div>
          </article>
        </div>
        {% endfor %}

      </div>
    </div>
                </div>
            </div>

        </div>

    </div>


  </body>

  <script type="text/javascript">
    if (document.body.offsetWidth < 720) {
      document.body.style.backgroundColor = "";
      document.getElementById("navvvvvv").innerHTML = `


<nav class="navbar navbar-expand-lg navbar-dark " style="position: fixed; 
	background-color: beige;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 65px;
    margin-top: -5px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1098;">
		<div class="container" style="display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: nowrap;
    -ms-flex-align: center; 
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;">
		  <a class="navbar-brand" style="color:black;"   href="{% url 'index' %}">Image</a>

		  	<form class="form-inline " style="width:100%; margin:auto;"   >
		      <div class="input-group"  >
				<input name="q" type="text" value="{{ request.GET.q }}" style="  border-radius:15px;width:100%; margin:auto;" class="form-control" placeholder="  search . . ." />
				  
				</div>
		    </form>
    </div>
    </nav>

	<nav class="shadow" style="position: fixed; width:100%;
	background-color:white;
    bottom: 5px;
    left: 0;
    right: 0;
	border-radius:50px;
    z-index: 1098;">
		<div class="container-fluid" >

		    <ul class="" id="navv"  style="display: inline-flex; margin:auto; list-style-type: none; width:100%;
 	display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;">
		      <li class="">
		        <a class="" href="{% url 'index' %}" style="  border-radius:50px; margin-left:-25px;  padding:10px; left:0; box-shadow: 2px, 2px, 2px, 2px; "><img src="../../../../../../../static/img/home.png"></a>
		      </li>

		      <li class="">
		               <a href="{% url 'show-notifications' %}" class="nav-link" style="color:black;margin-left: -20px;">
        <img style="padding-left:25px;" class="" src="../../../../static/img/notifications.png">
        {% if count_notifications %}
          <span class="badge" style="    margin-top: -21px;
    margin-left: -30px;
color:black;">{{ count_notifications }}</span>
        {% endif %}</a>
		      </li>
		      <li class="">
   
      <a href="{% url 'inbox' %}" class="nav-link" style="color:black;">
               {% if directs_count %}
        <span class="badge" style="    
    margin-right: -31px;
color:black;">{{ directs_count }}</span>
        {% endif %}
       <img style="padding-left:5px;" class="" src="../../../../../static/img/inbox.png">
          </a>
		        </li>
            <li>
      {% if user.is_authenticated %}
      <a href="{% url 'profile' request.user %}" class="nav-link " style="color:black;">
        {% if request.user.profile.picture %}
        
        <img style="height:32px; width:32px; border-radius:50px; margin-left:5px;" class="" src="{{ request.user.profile.picture.url }}">
        
        {% else %}
        <img style="height:32px; width:32px; border-radius:50px;  " class="" src="https://bulma.io/images/placeholders/256x256.png">
        
        {% endif %}</a>
        {% else %}
        <a href="{% url 'login' %}" class="nav-link " style="color:black;">
        <img style="height:32px; width:32px; border-radius:50px;  " class="" src="https://bulma.io/images/placeholders/256x256.png">
        
        </a>
        {% endif %} 
      </li>

		        

		      
		    </ul>
		</div>
    </nav>

 
`;
    }
  </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/init.js' %}"></script>
  <script src="{% static 'js/slider.js' %}"></script>
</html>
